* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    background: #F5F7FB;
    background-image: url("./blobs.png"), url("./blobs-blue.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right top, bottom left;
}

main {
    margin: 10em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-container {
    text-align: center;
    margin: auto;
}

.web-title {
    font-size: 4em;
    margin-bottom: 1.5rem;
}

p {
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.question-title {
    font-size: 1em;
    line-height: 19px;
    margin: 0.8rem;
    color: #293264;
}

.answer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.answer-choices {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10.24px;
    line-height: 12px;
    text-align:center;
    /* background: #D6DBF5; */
    border-radius: 7.94239px;
    border: 0.79px solid #4D5B9E;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    align-self: center;
    padding: 15px;
    margin: 10px 12px 15px;
}

.button {
    width: 120px;
    height: 3rem;
    background: #4D5B9E;
    border-radius: 10px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 12px;
    text-align: center;
    color: #F5F7FB;
    margin-top: 5px;
    
}

.btn-container {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-content: center;
}